@import "tailwindcss";
@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }
  .animate-pulse-scale {
    animation: pulse-scale 2s ease-in-out 0.5s infinite;
  }
  @keyframes pulse-scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }
}
:root {
  /* Base units */
  --vw: clamp(0.5rem, 0.8vw, 1rem);
  /* colors */
  --background: #f5f8ff;
  --foreground: #171717;
  --color-transparent-grey: #f8f9f8;
  --color-off-white: rgba(255, 255, 255, 0.45);
  --color-grey: #eee;
  --color-blue: #5A71E6;
  /* text sizing */
  --text-2xs: clamp(0.465rem, 0.62vw, 0.62rem);
  --text-xs: clamp(0.54rem, 0.72vw, 0.72rem);
  --text-sm: clamp(0.615rem, 0.82vw, 0.82rem);
  --text-base: clamp(0.69rem, 0.92vw, 0.92rem);
  --text-lg: clamp(0.75rem, 1vw, 1rem);
  --text-xl: clamp(0.9375rem, 1.25vw, 1.25rem);
  --text-2xl: clamp(1.125rem, 1.5vw, 1.5rem);
  --text-3xl: clamp(1.3125rem, 1.75vw, 1.75rem);
  --text-4xl: clamp(1.6875rem, 2.25vw, 2.25rem);
  --text-5xl: clamp(3.1875rem, 4.25vw, 4.25rem);
  --text-6xl: clamp(2.75rem, 3.75vw, 3.75rem);
  --text-8xl: clamp(8rem, 13vw, 16rem);
  --text-9xl: clamp(10rem, 15vw, 18rem);
}
@media (max-width: 767px) {
  :root {
    --vw: 3vw;
    --text-2xs: 2.5vw;
    --text-xs: 2.75vw;
    --text-sm: 3vw;
    --text-base: 3.5vw;
    --text-lg: 4vw;
    --text-xl: 5vw;
    --text-2xl: 6vw;
    --text-3xl: 7vw;
    --text-4xl: 8vw;
    --text-5xl: 12vw;
    --text-6xl: 8vw;
    --text-8xl: 25vw;
  }
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-transparent-grey: var(--color-transparent-grey);
  --color-off-white: var(--color-off-white);
  --color-blue: var(--color-blue);
  --color-grey: var(--color-grey);
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 0);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter Tight", sans-serif;
  position: relative;
  min-height: 100vh;
}